*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#wrapper{
   height:100vh;
   width:100%;
   overflow-y: visible;
   overflow-x: hidden;
   background-color:rgb(255, 235, 217);
}
.container{
    margin:100px auto;
    border-radius: 20px;
    display:flex;
    height:300px;
    width:40%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    object-fit: cover;
    position: relative;
}
 .image{
    height:100%;
    width:45%;
    object-fit: cover;
}
.image img{
    height:100%;
    width:100%;
    border-radius: 20px 0px 0px 20px;

}
.switch button{
    padding: 0 10px;
    border-radius: 10px;
    border-color:rgba(5, 113, 61, 0.785);
    width: 180px;
    height:30px;
    font-weight: 130;
    background-color: rgba(5, 113, 61, 0.785);
    color: white;
    position:absolute;
    top:250px;
    margin-bottom:5px;
    text-align: center;
    left:-85px;
    
}
.topic{
    transform: translate(15px,10px);
    font-weight: lighter;
    color: rgb(186, 184, 184);
}
.heading{
    transform: translate(-80px,20px);
    font-weight:bold;
    font-size: large;
    position: absolute;
    left:310px;
}
.description{
    color: rgb(186, 184, 184);
    position: absolute;
    top: 105px;
    left:95px;
    font-size: small;
}
.price{
    position:absolute;
    top:200px;
    font-weight: bolder;
    font-size: larger;
    color:rgba(5, 113, 61, 0.785);
    left:230px;
    font-size: 30px;
}
#delete{
    font-size:15px;
}
.switch{
    position:relative;
}
.switch img{
    position:absolute;
    top: 257px;
    left:-50px;
}
button{
    cursor:pointer;
}

